__pycache__/
*.py[cod]
*$py.class

.metaflow/
metaflow_card_cache/
metaflow.s3.**/
mlruns/
mlartifacts/

.DS_Store
.ipynb_checkpoints
.env
.venv
.venv*
*.pem
.idx/aws.nix

penguins.db
sample.json

mlflow.db
uv.lock