__pycache__/
*.py[cod]
*$py.class

.metaflow/
metaflow_card_cache/
metaflow.s3.**/
mlruns/
mlartifacts/

.DS_Store
.ipynb_checkpoints
.env
.venv
.venv*
*.pem
.idx/aws.nix

data/penguins.db
data/index

mlflow.db
uv.lock

.claude/settings.local.json
