python-dotenv
pytest
pylint

mlflow
mlflow[extras]
mlserver
mlserver-mlflow

awscurl
packaging
setuptools
evidently
keras
scikit-learn
pandas
numpy
jax[cpu]

metaflow
metaflow-card-html

azure-ai-ml
azureml-mlflow
